html, body{
    margin: 0px;
    height: 100%;
}

/*navigation bar styling*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height: auto;
    position: fixed;
    background-color: mistyrose;
    overflow: hidden;
    }
    
    ul.navbar li a{
    padding: 10px;
    float: left;
    font-size: 30px;
    border-color: black;
    color: black;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    }
    
    ul.navbar li a.active {background-color: pink;}
    ul.navbar li a:hover:not(.active) {background-color: white;}



/*Home Page*/

#startPage{
    margin: 0;
    padding: 5%;  
    background
    : url(../img/5TAw6y4.jpg) no-repeat center center fixed;
    background-size: cover;
    /* height: 79%; */
    min-height: 100vh; 
    font-family: 'Amatic SC', cursive;
}



#mainTitle{
    font-size: 200px;
    margin: 0;
}

#description {
    background: rgba(255, 255, 255, 0.75);
    color: black;
    width: 60%;
    font-size: 25px;
}
  
#person{
       float: right;
      /*width: 20%; */
      vertical-align: top;
      width: 25%;
  }
  
  .leftSide{
     margin: 0; 
    width: 45%;
    float: left;  
    width: 75%;
  }
  
  /*Second Page*/
  
  #blog{
      height: 100vh;
  }
  
  /*Third Page*/
  
  #travel{
      height: 100vh;
  }
  
  /*FourthPage*/
  
  #inspiration{
      height: 100vh;
  }